<h1>Anzeige aller Entscheidungen</h1>

<table class="table table-striped">
  <tr>
    <th>Aktenzeichenn:</th>
    <th>Antragstitel:</th>
    <th>Ausschuss:</th>
    <th>Entscheidungsdatum:</th>
    <th></th>
    <th></th>
  </tr>

<% @decisions.each do |decision| %>

	
  <tr>
    <td><%= Motion.find(decision.motion_id).register %></td>
    <td><%= Motion.find(decision.motion_id).title %></td>
    <td><%= decision.commitee_name %></td>
    <td><%= decision.commitee_date.strftime('%d.%m.%Y') %></td>
    <td><%= link_to 'Bearbeiten', edit_decision_path(decision), :class => "btn btn-mini" %></td>
    <td><%= link_to 'Löschen', decision, method: :delete, :class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Entscheidung', new_decision_path %>
