<p id="notice"><%= notice %></p>


<p>
  <b>Motion:</b>
  <%= @decision.motion_id %>
</p>

<p>
  <b>Text:</b>
  <%= @decision.text %>
</p>

<p>
  <b>Ausschussname:</b>
  <%= @decision.commitee_name %>
</p>

<p>
  <b>Ausschussdatum:</b>
  <%= @decision.commitee_date.strftime('%d.%m.%Y') %>
</p>


<%= link_to 'Bearbeiten', edit_decision_path(@decision) %> |
<%= link_to 'Zurück zur Übersicht', decisions_path %>
