<% @motions = Motion.where("title = ?",params[:searchstring]) %>

<b>Suche nach Anträgen:</b>
<table class="table table-striped">
<% @motions.each do |motion| %>
  <tr>
    <td><%= motion.register %></td>
    <td><%= motion.title %></td>
    <td><%= motion.date.strftime('%d.%m.%Y') %></td>
    <td><%= motion.latitude %></td>
    <td><%= motion.longitude %></td>
    <td><%= link_to 'Details', motion, :class => "btn btn-mini btn-info" %></td>
  </tr>

<% end %>

</table>

