<%=params[:searchstring]%>

<% @motions = Motion.where("id = ?",params[:searchstring]) %>

<% @motions.each do |motion| %>
  <tr>
    <td><%= motion.register %></td>
    <td><%= motion.title %></td>
    <td><%= motion.date.strftime('%d.%m.%Y') %></td>
    <td><%= motion.latitude %></td>
    <td><%= motion.longitude %></td>
    <td><%= link_to 'Details', motion, :class => "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Bearbeiten', edit_motion_path(motion), :class => "btn btn-mini"  %></td>
    <td><%= link_to 'Löschen', motion, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
  </tr>

<% end %>

