<h1>Auflistung aller Projekte</h1>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  
<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.name %></td>
    <td><%= link_to 'Bearbeiten', edit_project_path(project), :class => "btn btn-mini"  %></td>
    <td><%= link_to 'Löschen', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Projekt', new_project_path %>
