<h1>Listet die Anträge </h1>

<table class="table table-striped"> 
  
<% @motions.each do |motion| %>
  <tr>
    <td colspan="3"><h2><%= motion.title %></h2></td>
  </tr>
  <tr>
    <td colspan="3"><%= motion.text %></td>
  </tr>
    <tr>		
  		<td>
  			<b>Standort:</b><br /> 
  			<%= show_motion_on_map (motion) %>
  		</td>		
  		<td>
  			<b>Zugeordnete Projekte:</b><br>
  			<%= show_associated_projects(motion) %>
  		</td>
		<td>
  			<b>Zugeordnete Tags:</b></br>		
  			<% @tags = Tag.where("motion_id=?",motion.id) %>
  			<ul>
  			<% @tags.each do |tag| %>
  			
    			<%= content_tag_for(:li, tag) do %>
    			<%= tag.name %>
    			<% end %>
    		<%= link_to '', tag, method: :delete, remote: true, :class => "icon icon-trash" %></li>
  			
			<% end %>
			</ul>
			<%= link_to 'Neues Tag', new_tag_path, :class => "btn btn-success btn-mini" %></td>
  	</tr>
  
  <% @decisions = Decision.where("motion_id=?",motion.id) %>
  
  <% @decisions.each do |decision| %>
  <tr>
  	<td colspan="3">&nbsp;</td>
  </tr>
  <tr>
  	<td  colspan="2"><span style="color:green;"><%= decision.commitee_name %><br>(<%= decision.commitee_date.strftime('%d.%m.%Y') %>)</span></td>
  	<td colspan="1"><%= decision.text %></td>
  </tr>
  <tr>
  	<td colspan="3"><%= show_votes_by_decision(decision) %>
  </tr>
  <% end %>
  
  <tr>
  	<td colspan="3">&nbsp;</td>
  </tr>
<% end %>
</table>
