<h1>Auflistung aller Tags</h1>

<table class="table table-striped">
  <tr>
    <th>Tagname</th>
    <th>Aktenzeichenn:</th>
    <th>Antragstitel:</th>
    <th>Antrag</th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
	<td><%= Motion.find(tag.motion_id).register %></td>
    <td><%= Motion.find(tag.motion_id).title %></td>
    <td><%= link_to 'Bearbeiten', edit_tag_path(tag), :class => "btn btn-mini" %></td>
    <td><%= link_to 'Löschen', tag, method: :delete, :class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Tag', new_tag_path %>
