<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @tag.id %>
</p>

<p>
  <b>Tags:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Motion:</b>
  <%= @tag.motion_id %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
